

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, img {
  margin: 0;
  padding: 0;
}

body {
  background-color: #CFCEC3;
}



#footerBar {
  background-color: #23219D;
  height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#footerBox1 {
    border: 3px solid #000;
    margin-top: 10px;
}

#footerBox2 {
    border: 3px solid #000;
    margin-top: 10px;
}

/*--------------- start of index.html specific styles -------------------*/

.mainParagraphFooter {
  margin-top: 3vw;
}


.mainParagraphFooter h2 {
  text-align: center;
  color: #E13030;
  text-shadow: 2px 2px 5px #000;
  margin: 10px;
}


#mainParagraphTitle h1 {
  text-align: center;
  color: #E13030;
  text-shadow: 3px 3px 5px #000;
  margin-top: 5vw;
}


.mainParagraph {
  text-align: center;
  margin-top: 35px;
  word-spacing: 1px;
}


.item img {
  width: auto;
  height: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.slideShow {
  background: #CFCEC3;
}


.slideWindow {
  box-shadow: 10px 10px 25px #000;
  border: 3px solid #000;
  margin-top: 5vw;
}

#indexContactInfo {
  text-align: center;
}

#indexContactInfo h4 {
  padding: 10px;
}

#indexContactInfo h3 {
  padding: 10px;
}

/*---------------- end of index.html specific styles --------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*--------------- start of animals.html specific styles -------------------*/

#gorillaPic img {
  display: block;
  padding: 3px;
  background: #000;
  border: 3px solid #000;
  box-shadow: 10px 10px 20px #000;
}


#dogPic img {
  display: block;
  padding: 5px;
  background: #000;
  border: 3px solid #000;
  box-shadow: 10px 10px 20px #000;
}


#dogPic img:hover {
  border: 2px solid #fff;
}


#dogPic ul {
  list-style: none;
}

#dogPic li {
  float: left;
  margin: 10px;
}

#gorillaPic img:hover {
  border: 2px solid #fff;
}



/*---------------- end of animals.html specific styles --------------------*/


#faqsInfo img {
  display: block;
  padding: 0px;
  background: #000;
  border: 3px solid #000;
  box-shadow: 10px 10px 25px #000;
}






.dogCalendar {
  background-color: #F9FCFD;
}

#dogPic, #gorillaPic {
  text-align: center;
  padding: 0;
  margin: 0;
}


#rolly, #rolly_donna {
  width: auto;
  height: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dog1 , #dog2, #dog3 {
  width: auto;
  height: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#gorilla1, #gorilla2 {
  width: auto;
  height: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#contactUsInfo {
    text-align: center;
}


#contactUsInfo img {
  display: block;
  padding: 0px;
  background: #000;
  border: 3px solid #000;
  box-shadow: 10px 10px 25px #000;
}


.faqCallUs {
    text-align: center;
}

#faqsTitle, #hiliteOrder {
  color: #E13030;
  text-shadow: 3px 3px 5px #000;
}


#indexContactInfo {
  text-align: center;
}

#contactUs {
  color: #E13030;
  text-shadow: 3px 3px 5px #000;
}


#titleBar {
  background-color: #23219D;
  color: #F7D70A;
  box-shadow: 15px 15px 30px #000;
}

#bulldog, #bulldog-mirror{
  height: 15vw;
  max-height: 15vw;
  border: 2px solid #000;
  display: block;
  box-shadow: 15px 15px 30px #000;

}



#headerLine1 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 9vw;
}


#headerLine2 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 4.5vw;
}


.mainHeader {
  margin: 0px;
  padding: 0px;
}


#footerId {
  text-align: left;
  background-color: #23219D;
  color: #F7D70A;
  margin-top: 25px;
}

#brand {
  color: #D50202;
}
